@import '../colors.scss';

.footer{
    background-color: rgb(42, 42, 42);
    margin-top: 170px;
    .content{
        .footer_top{
            max-width: 1260px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            @media (max-width:1320px) {
                max-width: 95%;
            }
            @media (max-width:1160px) {
                flex-direction: column;
                align-items: center;
            }
            .footer_left{
                display: flex;
                @media (max-width:1160px) {
                    order: 2;
                    width: 100%;
                    justify-content: space-around;
                }
                @media (max-width:700px) {
                    flex-direction: column;
                    align-items: center;
                }
                h5{
                    font-weight: 700;
                    font-size: 13px;
                    color: $white;
                    margin-bottom: 24px;
                }
                .footer_about{
                    padding-top: 59px;
                    margin-right: 90px;
                    @media (max-width:700px) {
                        margin-right: 0px;
                    }
                    p{
                        font-weight: 300;
                        font-size: 12px;
                        color: $white;
                        margin-bottom: 15px;
                        transition: 0.5s all;
                        cursor: pointer;
                    }
                    p:hover{
                        color: rgba(255, 255, 255, 0.5);
                        transition: 0.5s all;
                    }
                    .footer_redes{
                        width: 130px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 70px;
                        .footer_imgbox{
                            width: 35px;
                            height: 35px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                        .footer_imgbox:hover{
                            background-color: rgba(255, 255, 255,0.1);
                        }
                    }
                }
                .footer_infos{
                    padding-top: 59px;
                    margin-right: 47px;
                    @media (max-width:700px) {
                        margin-right: 0px;
                    }
                    p{
                        font-weight: 300;
                        font-size: 12px;
                        color: $white;
                        margin-bottom: 15px;
                        cursor: pointer;
                        transition: 0.5s all;
                    }
                    p:hover{
                        color: rgba(255, 255, 255, 0.5);
                        transition: 0.5s all;
                    }
                }
                .footer_pays{
                    padding-top: 59px;
                    max-width: 195px;
                    @media (max-width:700px) {
                        text-align: center;
                    }
                    .footer_flags{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap; 
                        max-width: 195px;
                        @media (max-width:700px) {
                            justify-content: space-around;
                        }
                        img{
                            padding-right: 10px;
                            margin-bottom: 18px;
                        }
                    }
                }
            }
            .footer_register{
                width: 380px;
                height: 260px;
                background-color: $white;
                margin-top: 33px;
                border-radius: 10px;
                padding: 40px 30px;
                @media (max-width:1160px) {
                    order: 1;
                }
                @media (max-width:450px) {
                    width: 90%;
                }
                h5{
                    color: rgb(63, 63, 64);
                    font-weight: 300;
                    font-size: 18px;
                    @media (max-width:450px) {
                        font-size: 15px;
                    }
                    @media (max-width:360px) {
                        font-size: 12px;
                    }
                }
                p{
                    max-width: 310px;
                    margin: 0 auto;
                    text-align: center;
                    font-weight: 300;
                    font-size: 12px;
                    color: rgb(63, 63, 64);
                    margin-top: 12px;
                    @media (max-width:450px) {
                        font-size: 11px;
                    }
                }
                form{
                    max-width: 310px;
                    margin: 0 auto;
                    margin-top: 31px;
                    display: flex;
                    justify-content: space-between;
                    input{
                        width: 230px;
                        height: 45px;
                        outline: none;
                        border: 1px solid #2A2A2A;
                        border-radius: 4px;
                        background: #FFFFFF;
                        padding: 0 25px;
                        @media (max-width:450px) {
                            width: 75%;
                        }
                    }
                    button{
                        width: 62px;
                        height: 45px;
                        color: white;
                        background: #F71963;
                        border-radius: 4px;
                        border: none;
                        cursor: pointer;
                        transition: 0.5s all;
                        @media (max-width:450px) {
                            width: 20%;
                        }
                    }
                    button:hover{
                        transition: 0.5s all;
                        font-size: 14px;
                        background: rgba(247, 25, 99,0.9);
                    }
                }
            }
        }
        .footer_bottom{
            margin-top: 16px;
            border-top: 1px solid $white;
            .content{
                max-width: 1260px;
                margin: 0 auto;
                font-size: 10px;
                color: $white;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 22px 0;
                @media (max-width:1320px) {
                    width: 95%;
                }
                @media (max-width:1050px) {
                    flex-direction: column;
                }
                p{
                    max-width: 695px;
                    @media (max-width:1050px) {
                        text-align: center;
                    }
                    @media (max-width:700px) {
                        max-width: 90%;
                    }
                }
                .logos{
                    @media (max-width:1050px) {
                        width: 90%;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                    }
                    img{
                        margin-left: 32px;
                        @media (max-width:1050px) {
                            margin-top: 20px;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}